<launch>
  <!-- gin -->
  <!-- ************************************************************************************************************ -->
  <include file="$(find gin)/launch/target_detection.launch"/>

  <!-- rosbag -->
  <!-- ************************************************************************************************************ -->
  <param name="rosbag_path" type="str" value="/root/bagfile/" />
  <node pkg="rosbag" type="play" name="rosbag" args="$(param rosbag_path)"/>

  <!-- gui -->
  <!-- ************************************************************************************************************ -->
  
</launch>

